@model List<Cart>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Sepet Sayfası</title>

</head>
<body>


    <!-- / catg header banner section -->
    <!-- Cart view section -->
    @if (Model.Count == 0)
    {
        <div class="container">
            <div class="row ">
                <div class="col-md-6 alert alert-info" style="margin-top:10px;">
                    <span>Sepetinizde Ürün Bulunmamaktadır.</span>
                </div>
            </div>
        </div>
    }
    else
    {
        <section id="cart-view">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-view-area">
                            <div class="cart-view-table">
                                <form action="">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Ürün</th>
                                                    <th>Fiyat</th>
                                                    <th>Adet</th>
                                                    <th>Toplam</th>
                                                    <th>Sil</th>
                                                    <th></th>


                                                </tr>
                                            </thead>
                                            @foreach (var item in Model)
                                            {


                                                <tbody>
                                                    <tr>
                                                        <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                                        <td><a href="#"><img src="~/img/@item.ProductImage" alt="img"></a></td>
                                                        <td><a class="aa-cart-title" href="#">@item.Product.Name</a></td>
                                                        <td>$@item.Product.Price</td>
                                                        <td>
                                                            <div>
                                                                @Html.ActionLink("-", "toreduce", new { id = item.CartId }, new { @class = "btn btn-info btn-sm azalt" })
                                                            </div>
                                                            <div>


                                                                @Html.TextBoxFor(x => item.Quantity, new { @class = "txt", data_id = item.CartId })

                                                            </div>
                                                            <div>
                                                                @Html.ActionLink("+", "increase", new { id = item.CartId }, new { @class = "btn btn-info btn-sm arttir" })
                                                            </div>
                                                        </td>
                                                        @*<td><input class="aa-cart-quantity azalt arttir" type="number" value="1"></td>*@
                                                        <td>@item.Product.Price</td>
                                                        <td>@Html.ActionLink("Sil", "Delete", new { id = item.CartId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })</td>

                                                    </tr>

                                                    <tr>
                                                        <td colspan="6" class="aa-cart-view-bottom">
                                                            <div class="aa-cart-coupon">
                                                                <input class="aa-coupon-code" type="text" placeholder="Coupon">
                                                                <input class="aa-cart-view-btn" type="submit" value="Kupon Kodunu Gir">
                                                            </div>

                                                        </td>

                                                        <td> <a asp-controller="Order" asp-action="ToOrder" asp-route-id="@item.CartId" class="aa-cart-view-btn" style="margin-bottom:10px;">Sipariş Ver</a></td>
                                                    </tr>


                                                </tbody>

                                            }
                                        </table>
                                    </div>
                                </form>
                                <div class="container form-group">
                                    <a href="/Order/BuyAll" class="btn btn-success form-control">Tümünü Sipariş Ver</a>
                                </div>

                                <div class="container form-group">
                                    <a href="/Cart/DeleteRange" class="btn btn-danger form-control">Hepsini Sil</a>
                                </div>

                                <!-- Cart Total view -->
                                <div class="cart-view-total">
                                    <h4>Cart Totals</h4>
                                    <table class="aa-totals-table">
                                        <tbody>
                                            <tr>
                                                <th> Toplam Tutar</th>
                                                <td>$ @ViewBag.Total</td>
                                            </tr>
                                            @*<tr>
                                                    <th>Total</th>
                                                    <td>$450</td>
                                                </tr>*@
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }


    @*<section id="aa-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-subscribe-area">
                            <h3>Subscribe our newsletter </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                            <form action="" class="aa-subscribe-form">
                                <input type="email" name="" id="" placeholder="Enter your Email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@



    <style>
        .txt {
            line-height: 18px;
            /*padding: 0 4px 10px 4px;*/
            width: 38px !important;
            height: 34px;
            font-size: 10px;
            text-align: center;
            border: solid 1px #ccc;
            margin-left: 7px;
        }

        .arttir {
            display: block;
            cursor: pointer;
            border: solid 1px #ccc;
            /*text-align: center;

        font-size: 18px;*/
            position: absolute;
            margin-top: -32px;
            margin-left: 77px;
        }

        .azalt {
            display: block;
            border: solid 1px #ccc;
            cursor: pointer;
            position: absolute;
            margin-right: 90px;
        }
    </style>


</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {

        $('.txt').on('change', function () {
            var miktar = $(this).val();
            var sepetid = $(this).attr('data-id');
            $.ajax({
                url: '/Cart/DynamicAmount',
                data: { id: sepetid, miktari: miktar },
                success: function (res) {

                    document.location.reload();
                }


            });

        });
    });
</script>